$bg-color: #f5f5f5;
$primary-color: #094d92;
$primary-hover-color: #0c5ca6;
$text-color: #ecf5fe;
$text-color-secondary: #505050;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
  rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

//TODO - Rivalutare i colori sui bottoni
//TODO - Rivalutare i colori

body {
  font-family: "Chivo", sans-serif;
  background-color: $bg-color;
  color: $text-color-secondary;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

button {
  background-color: white;
  color: $primary-color;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.modal-container {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  display: flex;
  background-color: $primary-color;
  color: $text-color;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-top: 2rem;
  box-shadow: $box-shadow;

  form {
    display: flex;
    flex-wrap: wrap;

    .form-item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 50%;
      padding: 10px;

      input[type="text"]:focus,
      select:focus,
      textarea:focus {
        background-color: #f5f5f5;
        outline: none;
      }

      &:last-child {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        button {
          width: 25%;

          &:first-child {
            background-color: #d80000;
            color: white;

            &:hover {
              background-color: #8f0a0a;
            }
          }
        }
      }

      label {
        font-size: 1.2rem;
        font-weight: bold;
      }

      input,
      select,
      textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
      }

      input[type="file"] {
        padding: 0;
        border: none;
      }
    }
  }
}

.home-container,
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;

  .home-title,
  .login-title {
    color: $primary-color;
    font-size: 1.2rem;
  }

  .login-title {
    font-size: 2rem;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: $box-shadow;

    .login-error {
      color: red;
      font-size: 0.8rem;
    }

    label {
      font-weight: bold;
      color: $primary-color;
    }
    input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;

      &:focus {
        background-color: #f8f8f8;
        outline: none;
      }
    }
    button {
      background-color: $primary-color;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
    }

    button:hover {
      background-color: $primary-hover-color;
    }
  }

  .home-description {
    font-size: 2rem;
    font-weight: bold;
    color: $primary-color;
  }

  .home-details {
    text-align: center;
    font-size: 1rem;
    width: 500px;
    color: $text-color-secondary;
  }

  .home-button {
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }

  .home-button:hover {
    background-color: $primary-hover-color;
  }
}

.main-header {
  background-color: $primary-color;
  color: $text-color;
  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    box-shadow: $box-shadow;

    .header-top_left,
    .header-top_right,
    .header-top-center {
      flex: 1;
    }

    .header-top_center {
      text-align: center;
    }

    .header-top_right {
      text-align: right;
    }

    .header-app_name {
      font-size: 1.5rem;
      font-weight: bold;

      &:hover {
        color: white;
      }
    }
  }

  .header-bottom > ul {
    display: flex;
    padding: 20px 0;
    justify-content: center;
    gap: 40px;
    box-shadow: $box-shadow;

    li {
      list-style: none;
      font-size: 1.2rem;
      font-weight: bold;
      cursor: pointer;
      text-transform: uppercase;

      &:hover {
        color: white;
      }
    }
  }
}

main {
  max-width: 1200px;
  margin: 3rem auto 0 auto;

  & > h1 {
    font-size: 2rem;
    font-weight: bold;
    color: $primary-color;
  }

  .list-item {
    background-color: $primary-color;
    color: $text-color;
    padding: 1rem 2rem;
    border-radius: 10px;
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
    box-shadow: $box-shadow;
    .list-item_container {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .list-item_settings {
        display: flex;
        gap: 1rem;
        align-items: center;

        .list-item_settings-icon {
          cursor: pointer;

          &:hover {
            color: $text-color;
          }
        }
      }
    }
  }

  .team-header,
  .driver-header,
  .driver-stats_container,
  .employees-header,
  .scouting-header {
    display: flex;
    background-color: $primary-color;
    color: $text-color;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin-top: 2rem;
    box-shadow: $box-shadow;
    align-items: center;

    .team-header_left > img,
    .driver-header_left > img {
      width: 180px;
      aspect-ratio: 1/1;
      object-fit: contain;
    }

    .driver-header_left > img {
      border-radius: 50%;
      box-shadow: $box-shadow;
    }

    .team-header_right,
    .driver-header_right {
      padding-left: 2rem;

      & > h1 {
        font-size: 2.5rem;
        font-weight: bold;
      }

      .team-details,
      .driver-details {
        margin: 1rem 0;

        & > p {
          font-size: 1.2rem;
        }
      }
    }
  }
  .employees-header,
  .scouting-header {
    justify-content: space-between;
  }

  .team-drivers {
    background-color: $primary-color;
    color: $text-color;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin-top: 2rem;
    box-shadow: $box-shadow;

    .team-driver_container {
      display: flex;
      background-color: $bg-color;
      color: $primary-color;
      padding: 1rem 2rem;
      border-radius: 10px;
      margin-top: 1rem;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      align-items: center;

      box-shadow: $box-shadow;
      & > img {
        box-shadow: $box-shadow;
        width: 100px;
        border-radius: 50%;
      }

      & > h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-left: 2rem;
      }

      &:hover {
        transform: scale(1.02);
      }
    }
  }

  .driver-stats_container {
    flex-direction: column;

    & > h2 {
      font-size: 2rem;
      font-weight: bold;
    }

    .driver-stats_list {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      flex-wrap: wrap;
      width: 100%;

      .driver-stats_item {
        width: 33%;
        padding: 1rem 2rem;
        border-radius: 10px;
        background-color: $bg-color;
        color: $primary-color;
        margin-bottom: 2rem;
        box-shadow: $box-shadow;

        & > h3 {
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
    }
  }

  .teams-item {
    display: flex;
    background-color: $primary-color;
    color: $text-color;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    box-shadow: $box-shadow;
    &:hover {
      transform: scale(1.02);
    }

    & > a {
      display: flex;
      align-items: center;
      width: 100%;
      & > img {
        width: 80px;
        aspect-ratio: 1/1;
        object-fit: contain;
      }

      & > p {
        font-size: 2rem;
        margin-left: 3rem;
        font-weight: bold;
      }
    }
  }
}
